/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body{
    background:green;
} */

::selection{
    color:red; /* #fff;*/
    background:red; /* #007bff;*/
}
/* 
.start_btn{
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box{
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quiz_box{
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result_box{
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 */
.info_box.activeInfo{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.quiz_box.activeQuiz{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.info_box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: #007bff;
}

.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.quiz_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

section .que_text{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #0263ca;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #007bff;
}

.buttons button.restart:hover{
    background: #0263ca;
}

.buttons button.quit{
    color: #007bff;
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
} 


.bottom1{
    top: 100%;
    left: 70%;
}

/* =============== animation video =======================*/

.landing{
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    background: url("Terrence.jpg");
    background-size: cover;
    padding: 0rem 5rem;
   /*  display: flex;
    justify-content: space-between;
    flex-grow: 1; */
}
.part2{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.sidebar-left{
    background-color: green;
    width: 15vw;
    height: 100vh;
}

.sidebar-right{
    background-color: green;
    width: 15vw;
    height: 100vh;
}

.button_reverse{
    align-self: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.nav-links{
    display:flex;
    list-style: none;
}

.nav-links li{
    padding-left: 10rem;
    font-size: 1.2rem;
}

#logo{
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 2rem;
}

.big-text{
    position: absolute;
    top: 110%;
    left:40%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-weight: bolder;
    font-family: "Lobster", cursive;
    color: black; /*rgb(61, 61, 61);*/
}

.intro{
    /* background: black;
    position: fixed;
     top: 140%;
    left: 10%;
    height: 10%;
    width: 10%;  */
    top: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;

} 
.intro-text{
    color:rgb(61, 61, 61);
    font-family: "Lobster", cursive;
    font-size: 3rem;
    font-weight: bolder;
}

.slider{
     background: rgb(163, 193, 207);
    /*position: fixed;
     top: 140%;
    left: 10%;
    height: 10%;
    width: 10%; */ 
    transform: translateY(100%);
} 

.hide{
    background: black;
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}

/* gsap video */

/*================= monkey emoji video ====================================*/

.emoji{
    font-size: 10rem;
    cursor: pointer;
    user-select: none;
}

.closed{
    display:none;
}

.open{
    display: none;
}

.active{
    display: block;
}

.emojih2{
    display:none;
}

#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info div{
    padding:3rem;
    background:blue;
    margin:0.5rem;
    border-radius: 10px;
    color:#fff;
    font-size: 1.2rem;
    text-align: center;
}


#circle{
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;
    width:200px;
    background:steelblue;
    border-radius: 100px;
    font-size:1.5rem;
    color:#ffff;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.hover{
    transform:scale(2);
}

/*========================== 5 projects from traversy ==============================*/
.backg{
    background: url("Terrence.jpg") no-repeat center center/cover;
    background-size: cover;
    width: 100vw;
    height: 50vh;
    z-index:-1;
    filter:blur(0px);
}

.loading-text{
    font-size: 50px;
    color:#fff;
}


/* ---------------------- */

.slider_container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide{
    height: 100%;
    width: 35%;
    position:absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.right-slide{
    height: 100%;
    width: 65%;
    position:absolute;
    top: 0;
    left: 30%; 
    transition: transform 0.5s ease-in-out;
} 


.left-slide > div{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
}

.left-slide h1{
   font-size: 40px;
   margin-bottom: 10px;
   margin-top: -30px;
}

.right-slide > div{
  height: 100%;
  position: absolute;
  top: 0;
  left:35%;
  width: 65%;
}  

.right-slide > div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /*height: 100%;
    width: 100%;*/
}

.slider_container .action_buttons button{
    position: absolute;
    top: 50%;
    left:35%;
    z-index:100;
}

.slider_container .action_buttons .down-button{
   transform: translateX(-100%);
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}

.slider_container .action_buttons .up-button{
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
 }

button{
    background-color: #fff;
    border:none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

button:hover{
    color: #222;
}

button:focus{
  outline: none;
}

/* --------------------- */

.random_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.random_container h3{
     color:#fff;
     margin:10px;
     text-align: center;
}

#textarea{
    border:none;
    display:block;
    height:100px;
    font-family: inherit;
    margin:0 0 20px;
    font-size: 16px;
}

.tag{
    background-color: #f0932b;
    color:white;
    border-radius: 50px;
    padding:10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;
}

.tag.highlight{
    background-color: #273c75;
}

/* ---------------- */
.people_list{
    background-color:lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.people_container{
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 300px;
}

.people_title{
    margin:0;
}

.people_subtitle{
    display: inline-block;
    margin:5px 0 20px;
    opacity: 0.8;
}

.people_header{
    background-color: #3e57db;
    color:#fff;
    padding: 30px 20px;
}

.people_header input{
    background-color: rgba(0,0,0,0.3);
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    width:100%
}

.people_header input:focus{
    outline: none;
}

.user-list{
   background-color: #fff;
   list-style-type: none;
   margin: 0;
   padding: 0;
   max-height: 400px;
   overflow-y: auto;

}

.user-list li{
    display: flex;
    padding: 20px;
}

.user-list img{
    border-radius: 50px;
    object-fit: cover;
    height: 50px;
    width: 50px;
}

.user-list .user-info{
    margin-left: 10px;
}

.user-list .user-info h4{
    margin: 0 0 10px;
}

.user-list .user-info p{
    font-size: 12px;
}

.user-list li:not(:last-of-type){
    border-bottom: 1px solid #eee;
}

.user-list li.hide{
    display: none;
}

/* ---------------------------- */

.pcard{
   box-shadow: 0 2px 10px rgba(0,0,0,0.2);
   border-radius: 10px;
   overflow: hidden;
   width: 350px;
}

.card_header{
    height: 200px;
}

.card_header img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card_content{
    background: #fff;
    padding: 30px;
}

.card_title{
   height: 20px;
   margin: 0;
}

.card_excerpt{
    color:#777;
    margin:10px 0 20px;
}

.author{
   display: flex;
}

.profile_img{
    border-radius: 50px;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

.author_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    width: 100px;
}

.author_info small{
    color:#aaa;
    margin-top: 5px;
}

.animated_bg{
    background-image: linear-gradient(
        to right,
        #f6f7f8 0%,
        #edeef1 10%,
        #f6f7f8 20%,
        #f6f7f8 100%
    );
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
}

.animated_bg_text{
    border-radius: 50px;
    display:inline-block;
    margin: 0;
    height: 10px;
    width: 100%;
}

@keyframes bgPos{
    0% {
        background-position: 50% 0;
    }
    100% {
        background-repeat: -150% 0;
    }
}











































